@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    @apply font-helvatica bg-olive overflow-x-hidden
  }
}

.react-transform-wrapper .transform-component-module_wrapper__SPB86 {
  border-radius: 99999px !important
}
