/*  navbar auth hover animation */
.nav__auth__btn{
position: relative; 
overflow: hidden ;
display: inline-block;
color: #fff
}

.nav__auth__btn::before{
position: absolute;
width: 100%;
height: 100%;
content: "";
top : 0;
left: 0;
z-index: -1;
transition: transform 0.3s ease-in;
@apply bg-sandy-brown 
}

.nav__auth__btn.signin::before {
    transform: translateX(-100%);    
}

.nav__auth__btn.signin:hover::before {
    transform: translateX(0);    
}

.nav__auth__btn.signup::before {
    transform: translateX(100%);    
    
}
.nav__auth__btn.signup:hover::before {
    transform: translateX(0);    
}

/*  nav link underline animation */
.nav__btn {
position: relative;
display: inline-block;
}

.nav__btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    bottom: -2px;
    left: 0;
    /*  this means which direction you want to end  */
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    @apply bg-sandy-brown 
  }
  
  .nav__btn:hover::before {
    /*  this means from which direction you want to start the underline */
    transform-origin: left;
    transform: scaleX(1);
  }



